body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cc94e2;
}
h1{
    font-size: 60px;
    font-style: inherit;
}
#clock {
text-align: center;
}
.btn{
        /*   top  right */
  background-color: #4CAF50; /* Green */
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: solid;
  display: inline-block;
  font-size: 16px;

}
